.navbar {
  font-family:'DM Sans', sans-serif !important;
  color: #0C1825;
  font-size: 17px;
  font-weight: 500;
}

#signInButt:hover {
  color: #0D60D8;
  background-color: rgb(255, 255, 255);
  transition:ease .8s 0s;
}

#createAccntButt:hover {
  background-color: #0D60D8;
  transition:ease .8s 0s;
}

#leftSideHero {
  font-family:'U8 Black', sans-serif !important;
}